body {
    color:rgba(0, 0, 0, 0.834);
    font-size: 1vw;
    background-color: rgb(241, 241, 241);
    padding: 0;
    margin:0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container {
    display: inline-flex;
}
.image {
    flex:80%;
    background-color: white;
}
.sign_form {
    flex:100%;
}
.image img {
    width: 100%;
    height: 100vh;
}
.quote {
    padding-left: 10%;
    margin-top: 12%;
    margin-bottom: 5%;
    font-weight: bold;
}
.layer2nd {
    box-shadow: 2px 2px 5px #7d7d7d;
    padding-top:0.5%;
    padding-bottom:3.5%;
    padding-left: 10%;
    background-color: white;
}
.info {
    display:flex;
}
.column {
    flex:50%;
}
.column p {
    font-size: 1vw;
    color:red;
    margin-top:2px;
}
label {
    display:block;
    font-size: 0.6vw;
    color:rgba(0, 0, 0, 0.706);
}

input[type=text],
input[type=email],
input[type=tel],
input[type=password] {
    margin-top:2px;
    margin-bottom:3%;
    font-size: 1vw;
    width: 70%;
    padding: 4px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.action_buttons {
    margin-top:5%;
    padding-left: 10%;
}
input[type=submit] {
    font-size: 1vw;
    padding:3% 4%;
    font-weight: bold;
    color:white;
    border:none;
    background-color: brown;
    border-radius: 8px;
    margin-bottom:3%;
    cursor:pointer;
}
.action_buttons a {
    cursor:pointer;
    color:brown
}